<!doctype html>
<html ng-app="app">
<head>
    <title>Kategorie Editor</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="RecursionHelper.js"></script>
    <script src="app.js"></script>
    <script src="CategoryCtrl.js"></script>

    <script>
        window.clearFile = function(){
            $("#fileInput").replaceWith($("#fileInput").val('').clone(true));
            window.base64 = undefined;
            window.filename = undefined;
        }
    </script>

    <style>

        li{

            margin-top:5px;
            padding:5px;
        }
    </style>
</head>
<body ng-controller="CategoryCtrl">

<div class="container" style="padding-top:50px">
    <h1>WantHaver Category Editor</h1>

    <div class="row" style="margin-top:50px">
        <div class="col-md-6">
            <label for="name">Server</label>
            <input type="text" id="name" class="form-control" ng-model="server"><br>
            <label for="name">Name</label>
            <input type="text" placeholder="Name" id="name" class="form-control" ng-model="name"><br>
            <label for="id">Parent-Id</label>
            <input type="text" id="id" class="form-control" ng-model="parentid"><br>
            <input style="display:inline-block" id="fileInput" type="file" onchange="previewFile()">&nbsp;&nbsp;<button class="btn btn-default btn-danger btn-xs" type="button" onclick="window.clearFile()">clear file</button><br><br>
            <br>
            <img id="preview" style="width:100px;height:100px"><br><br>
            <button class="btn btn-default btn-primary" type="submit" ng-click="new()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;create new category</button>&nbsp;
            <button class="btn btn-default btn-primary" type="submit" ng-click="update()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;update</button>&nbsp;
            <button class="btn btn-default" type="submit" ng-click="start()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;refresh</button>&nbsp;
            <button class="btn btn-danger" type="submit" ng-click="clearAll()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;clear</button>

        </div>

        <div class="col-md-6">
            <tree family="base" parent="this"></tree>
        </div>
    </div>

    <script>

        function previewFile() {

            var file    = document.querySelector('input[type=file]').files[0];
            var reader  = new FileReader();

            window.filename = file.name;


            reader.addEventListener("load", function () {
                var tmp = reader.result.split(",");
                window.base64 = tmp[1];
                document.getElementById("preview").src = reader.result;
            }, false);

            if (file) {
                reader.readAsDataURL(file);
            }
        }


    </script>

</body>
</html>
