<!doctype html>
<html ng-app="app">
<head>
    <title>wanthaver - change password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="RecursionHelper.js"></script>
    <script src="app.js"></script>
    <script src="PasswordCtrl.js"></script>
</head>
<body ng-controller="PasswordCtrl">

<div class="login-container">

    <div class="logo-wrapper">
        <img src="logo.png" class="logo">

    </div>
    <div class="btn-wrapper">
        <div ng-if="pwdNotEqual" class="alert alert-danger" role="alert">Your passwords do not match.</div>
        <div ng-if="success" class="alert alert-success" role="alert">Your password was changed successfully.</div>
        <div ng-if="error" class="alert alert-danger" role="alert">An error occurred. Your token may be wrong or expired.</div>

        <div ng-hide="success">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                <input type="password" class="form-control" id="password" placeholder="New Password" ng-model="password1">
            </div>
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                <input type="password" class="form-control" id="password" placeholder="Repeat New Password" ng-model="password2">
            </div>
            <button type="button" class="btn btn-default" ng-click="save()">change password</button>
        </div>
    </div>

</div>


</body>
</html>
